streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
beautifulsoup4
requests
faiss-cpu
PyPDF2
python-dotenv
pandas
sentence-transformers
groq
numpy